
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">

    <a class="navbar-brand mx-3" routerLink="/home">Notefy</a>

    <fa-icon 
        [icon]="logo" 
        [styles]="{ stroke: 'white', color: 'white' }"
        size="2x"
        class="my-1"
    >
    </fa-icon>


    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="ml-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-right">
        <a class="nav-link active" aria-current="page" href="#">Features</a>
        <a class="nav-link" routerLink="/about" >About</a>
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>

