<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">

    <ul class="list-unstyled d-flex justify-content-center">
        <li>
            <fa-icon [icon]="brands[0]" [styles]="{ stroke: 'white', color: 'white' }" size="2x" class="mx-2"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="brands[1]" [styles]="{ stroke: 'white', color: 'white' }" size="2x" class="mx-2"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="brands[2]" [styles]="{ stroke: 'white', color: 'white' }" size="2x" class="mx-2"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="brands[3]" [styles]="{ stroke: 'white', color: 'white' }" size="2x" class="mx-2"></fa-icon>
        </li>
    </ul>

    <div class="container text-center">
      <small>Copyright &copy; Notefy</small>
    </div>
  </footer>
